# Ticketmaster Discovery API
# Conseguir en: https://developer.ticketmaster.com
TICKETMASTER_API_KEY=your_key_here

# Eventbrite API (Private OAuth Token)
# Conseguir en: https://www.eventbrite.com/platform/api-keys
EVENTBRITE_API_KEY=your_key_here
